<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MySpace</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">MYSPACE</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">DIARY</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
          <!-- <li id="list"><a href="/about">LIST</a></li> -->
          <li id="list"><a href="/list">LIST</a></li>
          <!-- <li id="game"><a href="/contact">GAME</a></li> -->
          <li id="game"><a href="/game">GAME</a></li>
          <li id="joke"><a href="/joke">JOKES</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
