<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Colour Memory Game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/stylesgame.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">MYSPACE</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">DIARY</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
          <!-- <li id="list"><a href="/about">LIST</a></li> -->
          <li id="list"><a href="/list">LIST</a></li>
          <!-- <li id="game"><a href="/contact">GAME</a></li> -->
          <li id="game"><a href="/game">GAME</a></li>
        </ul>
    </div>
  </nav>
</head>

<body>
  <h1 id="game-name">COLOUR MEMORY GAME</h1>
  <h1 id="level-title">Press A Key to Start</h1>
  <div class="container">
    <div class="row">

      <div type="button" id="green" class="btn green">

      </div>

      <div type="button" id="red" class="btn red">

      </div>
    </div>

    <div class="row">

      <div type="button" id="yellow" class="btn yellow">

      </div>
      <div type="button" id="blue" class="btn blue">

      </div>

    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="javascript/game.js" charset="utf-8"></script>

</body>

</html>
